<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</head>

<script>
$(function() {
	
	var socket = io();
	var messageList = $('#messages');
	
	$.ajax({
	    url: "http://localhost:3002/message",
	    type: 'get',
	    headers: {
	    	authorization : getCookie("token")
	    },
	    success: function(data, status) {
	    	var messages = data.data;
	    	for(i = 0; i < messages.length; i++) {
	    		//console.log(messages[i].message);
	    		messageList.append('<li> ' + messages[i].user_name + messages[i].message + '</li>');
	    	}
	    }
	});
	
	$('#chat-form').submit(function(event) {
		event.preventDefault();
		socket.emit('user chat', {user : getCookie("user_name"), message : $('#chat-message').val()});
	});
});

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

</script>

<body>
<div class="container">
  
  <ul class="list-group" id="messages">
  </ul>
  <form class="form-inline" role="form" id="chat-form">
    <div class="form-group">
      <input type="text" class="form-control" id="chat-message">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>