<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

</head>

<script>
    var socket = io();
    
	$(function() {
		$('#login-form').submit(function(event) {
			event.preventDefault();
			$.post("http://localhost:3002/auth", {
				name : $('#name').val(),
				password : $('#password').val()
			}, function(data, status) {
				
				// success
				if(data.token !== null) {
					// emit user login
					socket.emit('user login', $('#name').val());
					
					// store token in cookie
					document.cookie="token=" + data.token;
					document.cookie="user_name=" + $('#name').val();
					
					// redirect to the chat html
					window.location.replace("http://localhost:3001/chat");
				// fail
				} else {
					//alert(data.token);
				}
			});
		});
	});
</script>

<body>
	<div class="container">
		<h2>Login</h2>
		<form id="login-form" role="form" enctype="application/x-www-form-urlencoded">
			<div class="form-group">
				<label for="name">Name:</label> <input type="name"
					class="form-control" id="name" placeholder="Enter name">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label> <input type="password"
					class="form-control" id="password" placeholder="Enter password">
			</div>
			<div class="checkbox">
				<label><input type="checkbox"> Remember me</label>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>